p {
background-color:green;
padding-top: 75px;
padding-bottom: 75px;
padding-right: 50%;
padding-left: 50%;
margin: auto;
}

.invisible {
  transition: opacity 10s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 10s ease;
  opacity: 1.0;
}