p {
padding-top: 150px;
padding-bottom: 150px;
padding-right: 10%;
padding-left: 10%;
margin-bottom: 30px;
padding-bottom: 30px;
font-family: verdana, sans-serif;
letter-spacing: 2px;
font-size: 1.5em;
}

@keyframes drop{
  from {padding-top: 100px;}
  to {padding-top: 400px;}
}

@keyframes up{
  from {padding-top: 15px;}
  to {padding-top: 5px;}
}

.invisible {
  transition: opacity 4s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 4s ease;
  opacity: 1.0;
}

h1{
height: 40px;
width: 100%;
padding-top: 400px;
margin-bottom: 10px;
padding-bottom: 5px;
text-align: center;
font-family: verdana, sans-serif;
letter-spacing: 2px;
animation-name: drop;
animation-duration: 1s;
font-size: 3em;
}

h2{
margin-top: 0px;
height: 40px;
width: 100%;
padding-top: 5px;
padding-bottom: 400px;
text-align: center;
font-family: verdana, sans-serif;
letter-spacing: 2px;
font-size: 2em;
border-bottom-width: 2px;
border-bottom-style: solid;
animation-name: up;
animation-duration: 1s;
}

t{
text-align: center;
padding-left: 50%;
padding-right: 50%;
width: 100%;
}
