p {
background-color:green;
padding-top: 75px;
padding-bottom: 75px;
padding-right: 50%;
padding-left: 50%;
margin: auto;
}

.invisible {
  transition: opacity 10s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 10s ease;
  opacity: 1.0;
}

h1{
height: 40px;
width: 100%;
padding-top: 400px;
margin-bottom: 10px;
padding-bottom: 5px;
text-align: center;
font-family: verdana, sans-serif;
letter-spacing: 2px;
font-size: 3em;
}

h2{
margin-top: 0px;
height: 400px;
width: 100%;
padding-top: 5px;
padding-bottom: 20%;
text-align: center;
font-family: verdana, sans-serif;
letter-spacing: 2px;
font-size: 2em;
}

